* {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6, p, dl, pre, table {
  margin: 0 0 1rem; }

ul, ol, blockquote {
  margin: 0 0 1rem 2rem; }

body {
  color: #282828;
  font-family: "Exo 2", sans-serif;
  font-size: .7em;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Audiowide", cursive; }

nav {
  background: #282828;
  font-size: 1.7em;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 0;
  z-index: 1; }
  nav span a {
    color: white;
    top: 20px;
    right: 20px;
    text-decoration: none;
    position: absolute; }
  nav ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 4em 0 0 0; }
    nav ul li {
      margin: 1em; }
      nav ul li a {
        display: block;
        color: white;
        text-decoration: none; }

header {
  align-content: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 40%, rgba(0, 135, 255, 0.2));
  display: grid;
  height: 100vh;
  position: relative;
  text-align: center; }
  header .triangle-down {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 80px solid #282828;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0; }
  header .jumbotron {
    grid-area: "jumbo";
    margin: 0 3em; }

#pre-craft {
  align-content: center;
  background: linear-gradient(to bottom, rgba(0, 135, 255, 0.2) 30%, rgba(255, 206, 0, 0.2));
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  text-align: center;
  width: 100%; }

.diamond-wrapper {
  margin: 0 auto; }

.diamond {
  background-color: #282828;
  color: white;
  display: inline-block;
  height: 250px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  transform: rotate(45deg);
  width: 250px; }

.diamond::before {
  border: 3px solid #282828;
  content: '';
  position: absolute;
  top: -5%;
  left: 15%;
  height: 115%;
  width: 100%; }

.diamond-content {
  display: table-cell;
  height: inherit;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: inherit; }

#craft {
  background: url("/images/craft-bg.jpg") fixed center center no-repeat;
  background-size: cover;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  height: 100vh;
  overflow-y: visible;
  padding: 3em; }
  #craft .heading-wrapper {
    align-content: end;
    background-color: #282828;
    color: whitesmoke;
    display: grid;
    margin: 0 auto;
    padding: 1em 1em 2em 2em;
    text-align: end;
    position: relative; }
  #craft .heading-wrapper::before {
    border: 3px solid whitesmoke;
    content: '';
    position: absolute;
    top: -10%;
    left: 5%;
    height: 95%;
    width: 105%; }
  #craft .craft-icons {
    border: 2px solid whitesmoke; }
  #craft .craft-text {
    background-color: #282828;
    color: whitesmoke;
    margin: 0 auto;
    padding: 1em 1em 2em 2em;
    text-align: end; }
  #craft .chevron-wrapper {
    align-self: end;
    background-color: whitesmoke;
    justify-self: end;
    position: relative; }
    #craft .chevron-wrapper .chevron {
      background-color: #282828;
      padding: 1em; }
      #craft .chevron-wrapper .chevron :first-child {
        color: white; }
      #craft .chevron-wrapper .chevron :nth-child(2) {
        color: #0087ff; }
      #craft .chevron-wrapper .chevron :last-child {
        color: #ffce00; }

#work {
  background-color: #282828;
  color: whitesmoke;
  height: 100vh; }

@media (min-width: 700px) {
  body {
    font-size: 1em; }

  nav {
    width: 0; }

  header {
    grid-template-columns: 1fr 2fr 1fr; }
    header .jumbotron {
      grid-column: 2/3;
      margin: 0 auto; }

  #pre-craft {
    grid-template-columns: 1fr 1fr 1fr; }
    #pre-craft .diamond-wrapper {
      grid-column: 2/3;
      margin: 0 auto; }
      #pre-craft .diamond-wrapper .diamond {
        height: 400px;
        width: 400px; }

  #craft {
    grid-gap: 4em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    padding: 3em; }
    #craft .heading-wrapper {
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 2em 2em 4em 4em; }
    #craft .craft-icons {
      justify-self: center;
      border: 2px solid whitesmoke;
      grid-column: 2/3;
      grid-row: 2/3; }
    #craft .craft-text {
      grid-row: 3/4;
      grid-column: 1/2;
      padding: 2em 2em 4em 4em; }
    #craft .chevron-wrapper {
      grid-column: 2/3;
      grid-row: 3/4; } }

/*# sourceMappingURL=main.css.map */
