#pre-craft {
    align-content: center;
    background: linear-gradient(
        to bottom,
        $glass-blue 30%,
        $glass-yellow
    );
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    text-align: center;
    width: 100%;
}

.diamond-wrapper {
    margin: 0 auto;
}

.diamond {
    background-color: $black;
    color: $white; 
    display: inline-block;
    height: 350px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(45deg);
    width: 350px;
}

.diamond::before {
    border: 3px solid $black;
    content: '';
    position: absolute;
    top: -5%;
    left: 15%;
    height: 115%;
    width: 100%;
}

.diamond-content {
    display: table-cell;
    font-size: .8em;
    height: inherit;
    transform: rotate(-45deg);
    vertical-align: middle;
    width: inherit;
}