#work {
    background-color: $black;
    clip-path: polygon(0 10vh, 100% 0, 100% calc(100% - 10vh), 0 100%);
    color: $dirty-white;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100%;
    margin-top: -100px;

    .heading-wrapper {
        grid-column: 1/2;
        margin-top: 8em;
        padding: 2em;
        text-align: left;
        z-index: 4;
    }

    .projects {
        justify-self: center;
        height: 80%;
        
        img {
            height: 100%;
            justify-self: stretch;    
        }
    }
}
/*
01000111
64 4 2 1 - 71
71 - 65 = 6 = G

01100101
64 32 4 1 - 101

01100101
64 32 4 1 - 101

01101011


*/